/* Layout geral */

body {
  /* height: 776px; */

}

.login-container {

  display: flex;
  height: 98vh;
  /* background: #000; */
  color: white;
  font-family: Arial, sans-serif;
  width: 1524px;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin-bottom: 15px;
}

.login-left img {
  width: 600px;
  height: 720px;
}

.login-container {
  background-image: url("../../assets/img//fundoLogin.svg");
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding: 0px;
  height: 775px;
  width: 100%;

}


.logo-box {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-box img {
  width: 70px;
  height: 70px;
}

.logo-box p {
  color: #808080;
}

.logo-img {
  width: 120px;
  /* Ajuste o tamanho da logo */
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.5rem;
  margin: 5px 0;
  color: #ddd;
}

.divider {
  border: none;
  border-bottom: 2px solid #7c3aed;
  width: 250px;
  margin-top: 8px;
}

/* Formulário */
.login-form {
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}



.login-form input {
  padding: 12px;
  /* border-radius: 12px; */
  /* border: none; */
  outline: none;
  font-size: 1rem;
  /* background: #bbb; */
  color: white;
  width: 100%;
  box-sizing: border-box;

  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
  backdrop-filter: blur(5px);
}

.login-btn {
  margin-top: 15px;
  padding: 14px;
  /* background: #7c3aed; */
  /* border: none; */
  /* border-radius: 12px; */
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;

  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #551A94;
}

.login-btn:hover {
  background: #5b21b6;
}

/* Coluna da direita */


.side-image {
  width: 100%;
  max-width: 548px;
  height: 100%;
}

div#root {
  width: 1521px;
  height: 100%;
}

body {
  background-color: linear-gradient(#0C0414, #1B092E, #220C39, #40156B);
  height: none;
}

.swal-popup {
  border-radius: 18px !important;
  padding: 18px !important;
  box-shadow: 0px 0px 25px rgba(166, 107, 255, 0.35) !important;
  backdrop-filter: blur(12px) !important;
  background: rgba(26, 26, 29, 0.85) !important;
}

.swal-title {
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
}

.swal-timer-bar {
  background: linear-gradient(90deg, #a66bff, #d98cff) !important;
}


.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* background-color: #ffffff; */
}


.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image {
  width: 56%;
  height: 100%;
  object-fit: cover;
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo-box {
  text-align: center;
  margin-bottom: 25px;
}

.logo-img {
  width: 110px;
}

.subtitle {
  font-size: 22px;
  margin-top: 8px;
}

.divider {
  width: 80%;
  margin: 10px auto;
  border: none;
  height: 2px;
  background-color: #d9d9d9;
}


.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: 600;
  width: 349px;

}

.login-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-size: 15px;
}

.login-btn {
  padding: 12px;
  background-color: #6b4eff;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #551A94;
}

.login-btn:hover {
  background-color: #5a3ef0;
}


@media (max-width: 900px) {
  .login-container {
    background-color: #0C0414;
    flex-direction: column;
  }

  .login-right {
    height: 40vh;
  }

  .side-image {
    height: 100%;
    object-fit: cover;
  }

  .login-left {
    padding: 25px;
  }
}


@media (max-width: 600px) {
  .login-right {
    display: none;
    /* Esconde imagem no mobile pra layout mais limpo */
  }

  .login-left {
    flex: 1;
    justify-content: center;
    padding: 35px 25px;
  }

  .logo-img {
    width: 90px;
  }

  .subtitle {
    font-size: 18px;
  }

  .login-form {
    max-width: 100%;
  }

  .login-btn {
    font-size: 16px;
    padding: 10px;
  }
}