main.backgroundImagem {
    /* background-image: url(../assets/IMG/fundoHOMEADM.svg); */
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Janela_Perfil {
    border-radius: 8px;
border: 0.5px solid rgba(85, 26, 148, 0.05);
background: rgba(182, 80, 229, 0.05);
box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
backdrop-filter: blur(5px);
}

.BolinhaFoto {
    height: 160px;
    width: 1120px;
    /* background-color: white; */
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.Quadrado {
    height: 70px;
    background-color: #ffffff;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
}

.Informações {
    width: 1140px;
    display: flex;
    height: 550px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.h1dequadrado {
    font-size: 20px;
    color: #000000;
}

.Quadradoinf {
    height: 70px;
    background-color: #ffffff;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: -100px;
}

.QuadradoULT {
    height: 70px;
    background-color: #ffffff;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: -100px;
    margin-right: 50%;
}

button.botaoperfil {
    height: 192px;
    width: 181px;
    /* border-radius: 220px; */
    margin-left: 0px;
    background: border-box;
    border-radius: 100px;
}

.imagemperfiiil {
    margin-left: -23px;
    background-color: none;
}

.div-img img {
    padding-left: 15px;
    height: 70px;
}

.menu-desktop img {
    align-items: self-end;
    width: 54px;
    height: 54px;
    margin-right: 11px;
    margin-top: 4px;
}

h2.FotoPerfil {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 25px;
    margin-left: -15px;
}

.Janela_Perfil {
    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
    height: 800px;
    margin-bottom: 0px;
}