.botao {
    background-color: #ffffff;
    border-radius: 9px;
    width: 100px;
    height: 28px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: #551A94;
}