main.main-home {
    background: linear-gradient(to bottom, #0C0414, #1B092E, #220C39, #40156B);
    display: flex;
    height: 210vh;
    justify-content: space-around;
    align-items: center;
    /* width: 1000px; */
    flex-direction: column;
    width: 100%;
}

.banner-home{
    background-image: url("../../assets/img/Imagens/Banner/bannerDesktop.png");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}


.banner-home {
    display: flex;
    justify-content: center;
    width: 100%;

}

.banner-home img {
    width: 100%;
    height: 550px;
    /* margin-left: 170px; */
}

/* .container_home {
    background-image: url("../../assets/img/Ellipse22.svg");
    background-size: 600px;
    background-position: -350px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
} */

.campo_home {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.campo_paragrafo {
    /* border-radius: 20px 0 0 20px;
    background-color: #74747440; */
    height: 100%;
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(10px); */

    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
}

.campo_paragrafo p {
    text-align: center;
    font-size: 17px;
    padding: 16px;
}

.campo_img {
    /* border-radius: 0 20px 20px 0;
    background-color: #74747450; */

    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
}


.fundo_home {
    width: 100%;
    /* opacity: 25%; */
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.campo_home img {
    height: 300px;
    border-radius: 20px;
    max-width: none;
}

.campo_home p {
    color: #ffffff;
    text-align: center;
}

.ferramentas {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

/* .fundo_ferramentas {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
} */

/* .container_ferramentas {
    background-image: url("../../assets/img/Ellipse22.svg");
    background-size: 600px;
    background-position: 1100px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.fundo_ferramentas {
    /* border-radius: 20px 0 0 20px;
    background-color: #74747440; */
    height: 100%;
    /* backdrop-filter: blur(10px); */
    /* border-radius: 20px; */
    width: 95%;
    max-width: 1200px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
}

.fundo_ferramentas h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .ferramentas_titulo h1{
    margin-top: 15px;
} */

.carrosel_d_ferramentas carousel {
    margin-bottom: 15px;
}

.titulo h1 {
    color: white;
    text-align: center;
}

.icons_ferramentas {
    display: flex;
}

.icons_ferramentas img {
    width: 110px;
    height: 110px;
    padding-right: 40px;

}

.carrosel_ferramentas {
    margin-bottom: 30px;
}

.carrosel_ferramentas {
    margin-bottom: 30px;
    margin-left: 27px;
    margin-bottom: 70px;
    margin-right: 27px;
}

.ferramentas_titulo {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: column;
}

.fundo_ferramentas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrosel_ferramentas {
    margin-bottom: 30px;
    margin-left: 27px;
    margin-bottom: 70px;
}

.carousel-control-prev {
    left: 0;
    margin-left: -20px;
    margin-bottom: 50px;
}

.carousel-control-next {
    left: 200px;
    margin-bottom: 50px;
}


button.Ferramenta {
    /* height: 158px; */
    /* width: 285px; */
    background-color: #00000000;
    border: none;
}

.container_ferramentas {
    display: flex;
    justify-content: center;
    /* margin-top: 0px; */
}


@media (max-width: 420px) {

  main.main-home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .campo_img img{
    display: none;
  }

  .banner-home {
    background-image: url("../../assets/img/Imagens/Banner/bannerMobile.png");
    height: 45vh;
    background-size: cover;
    background-position: center;
  }

  .banner-home img {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .campo_home {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-top: 30px;
  }

  .campo_paragrafo {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .campo_paragrafo p {
    font-size: 14px;
    padding: 10px;
  }

  .campo_img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .campo_home img {
    width: 90%;
    height: auto;
    border-radius: 12px;
  }

  .fundo_home {
    height: auto;
    padding: 20px 0;
  }

  .ferramentas {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .fundo_ferramentas {
    width: 90%;
    padding: 20px;
  }

  .fundo_ferramentas h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .icons_ferramentas {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .icons_ferramentas img {
    width: 70px;
    height: 70px;
    padding-right: 0;
  }

  .carrosel_ferramentas {
    margin: 20px auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* Esconde setas no mobile */
  }

  button.Ferramenta {
    width: 90%;
    height: auto;
  }

  .titulo h1 {
    font-size: 22px;
  }
}