.Janela_CursoInfo {
    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
    height: 1200px;
    margin-bottom: 0px;
}

.Vd {
    width: 70%;
    height: 300px;
    background-color: white;
}

.informa {
    width: 70%;
    height: 600px;
    color: white;
}

.Cor {
    color: white;
}

.InformaçõeS {
    width: 1140px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.HH4 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 25px;
}

.PP {
    height: 90%;
    padding: 25px;
    padding-top: inherit;
}



.Vd {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Vd iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border-radius: 12px;
}

.Info {
    height: 50px;
    width: 70%;
}

@media (max-width: 480px) {
    .Info {
        height: 50px;
        width: 95%;
    }

    .informa {
        width: 100%;
        height: 600px;
        color: white;
    }

    .InformaçõeS {
        width: 440px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}
