header {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    /* background-color: rgba(255, 255, 255, 0, 8); */
    height: 80px;
    width: 97%;
    /* border-radius: 8px; */
    /* border: 2px solid #562984; */
    /* opacity: 0.8; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(255, 255, 255, 10%); */
    /* border: 0.5px solid white; */

    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
}

.header-nav img {
    margin-left: 30px;
    width: 160px;
    height: 80px;
    cursor: pointer;
}

.Usuario {
    margin-left: 150px;
    margin-right: 0 auto;
    margin-right: -50px;
}

.div-img {
    display: flex;
    align-items: center;

}

.menu-desktop ul {
    list-style-type: none;
    margin-bottom: 0;

}

.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;

}

.menu-desktop ul li a {
    color: white;
    text-decoration: none;

}

.menu-desktop img {
    align-items: self-end;
    width: 54px;
    height: 54px;
    margin-right: 40px;
    cursor: pointer;

}

.div-img img {
    padding-left: 15px;

}

nav.menu-desktop {
    display: flex;
    align-items: center;

}

.barradepesquisa input {
    /* border-radius: 9px; */
    height: 35px;
    width: 300px;
    /* border: none; */
    opacity: 70%;
    padding: 10px 10px 10px 35px;
    /* espaço para o ícone */
    background: white url('../../assets/img/Ícones/vectorLupa.svg') no-repeat 5px center;
    background-size: 25px;
    /* tamanho da lupa */
    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(85, 26, 148, 0.10);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);

}

option {
    color: black;
}

/* @media screen and (max-width: 420px){
    
body{
    height: 700px;
}

.div-img img {
    padding-left: auto;
    height: 50px;
}

.header-nav {
    width: 95%;
}

} */





@media (max-width: 768px) {

    .menu-desktop ul {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        display: none;
    }

    .barradepesquisa input {
        width: 90%;
        max-width: 320px;
        display: none;
    }

    .Usuario {
        margin-left: 0;
    }
}


@media (max-width: 480px) {
    .header-nav {
        padding: 10px;
    }

    .header-nav img {
        width: 140px;
        margin-left: 0;


    }

    .barradepesquisa input {
        width: 100%;
        font-size: 0.9rem;
        background-size: 18px;
    }

    .menu-desktop ul li a {
        font-size: 0.9rem;
    }

    .menu-desktop img {
        width: 40px;
        height: 40px;
        display: none;

    }

    .menu-desktop {
        background-image: url(../../assets//img/menu-burger.png);
    }
}