.linha-container {
  width: 100%;
  background-color: #1b092e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.titulo-linha {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}
