.main_cursos {
    /* background-color: #000000; */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: "../../"; */
    /* height: 100%; */


}

.img_curso {
    /* background-image: url(../../assets/img/); */
    background-size: 700px;
    background-position: 1200px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 300px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.img_curso2 {
    /* background-image: url(../../assets/img/Ellipse22.svg); */
    background-size: 670px;
    background-position: -290px 140px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}


.subtexto_cursos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.subtexto_cursos h3 {
    margin-top: 50px;
}

.hr_cursos {
    border: 2px solid #B13D7E;
    width: 150px;
    border-radius: 45px;
}

.quadro_cursos {
    /* backdrop-filter: blur(10px); */
    /* background-color: #74747440; */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    /* border-radius: 15px; */
    margin-bottom: 200px;
    width: 70%;
    height: 1000px;

    border-radius: 8px;
    border: 0.5px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.40) inset, 0 -2px 4px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(5px);
}

.cursos {
    /* background-color: rgba(86, 41, 132, 0.8); */
    /* border-radius: 15px; */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    /* height: 250px; */
    width: 320px;
    height: 343px;

    border-radius: 6.655px;
    border: 0.416px solid rgba(85, 26, 148, 0.05);
    background: rgba(182, 80, 229, 0.05);
    box-shadow: 0 1.664px 3.327px 0 rgba(255, 255, 255, 0.40) inset, 0 -1.664px 3.327px 0 rgba(0, 0, 0, 0.20) inset;
    backdrop-filter: blur(4.159305095672607px);
}

.cursos p {
    background-color: #551A94;
    border-radius: 13px;
    box-shadow: 0 3.327px 3.327px 0 rgba(0, 0, 0, 0.25);
    height: 67px;
    padding: 21px;
    margin-bottom: 0;
}


.cursos img {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 277px;
    width: 320px;
    margin-bottom: 0;
    border-radius: 13.31px;
    overflow: hidden;
    margin: 20px auto;
    display: block;

}

/* p{
    margin-bottom: none;
} */

button.botao {
    margin-top: 0;
    width: 320px;
    height: 42px;
}

button, .Att, .Pv {
    user-select: none;
    outline: none;
    cursor: pointer;
    width: 317px;
    border-radius: 6.655px;
    color: #551A94;
    background: #FFF;
    box-shadow: 0 3.327px 3.327px 0 rgba(0, 0, 0, 0.25);
    height: 50px;
}

.alt {
    background-color: linear-gradient(#0C0414, #1B092E, #220C39, #40156B);
    height: 100%;
}

/* body{height: 1391px;} */


@media (max-width: 1024px) {
    .subtexto_cursos h3 {
        font-size: 1.5rem;
    }

    .quadro_cursos {
        width: 90%;
        padding: 20px;
        gap: 20px;
    }

    .cursos {
        width: 280px;
        height: 320px;
    }

    .cursos img {
        height: 240px;
    }

    .img_curso {
        background-size: 500px;
        background-position: right top;
    }

    .img_curso2 {
        background-size: 500px;
        background-position: left center;
    }
}

/* Celulares grandes (até 768px) */
@media (max-width: 768px) {
    .subtexto_cursos h3 {
        font-size: 1.3rem;
    }

    .quadro_cursos {
        flex-direction: column;
        align-items: center;
        width: 85%;
        padding: 20px;
    }

    .cursos {
        width: 90%;
        height: auto;
    }

    .cursos img {
        height: 220px;
    }

    .cursos p {
        font-size: 0.9rem;
        padding: 15px;
    }

    button.botao {
        width: 380px;
        height: 50px;
        font-size: 0.9rem;
    }

    .img_curso,
    .img_curso2 {
        background-size: 400px;
        background-position: center;
    }
}

/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
    .subtexto_cursos h3 {
        font-size: 1.1rem;
    }

    .hr_cursos {
        width: 100px;
    }

    .quadro_cursos {
        width: 95%;
        padding: 15px;
        gap: 15px;
    }

    .cursos img {
        height: 180px;
    }

    .cursos p {
        font-size: 0.85rem;
    }

    button.botao {
        font-size: 0.85rem;
    }

    .img_curso,
    .img_curso2 {
        background-size: 300px;
        opacity: 0.3;
    }
}